.totals-container{
    display: flex;
    flex-flow: row wrap;
    
}

.total-child{
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    border: 2px solid;
    border-radius: 10px;
}

.totals-container h2,h3{
    margin: 0;
    padding: 0;
}